*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
html,body{
    min-height: 100vh;
}
body{
    font-family: Arial;
    background: #3498D8;
    padding: 0;
    margin: 0;
}
.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-screen{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}
.app-title{
    text-align: center;
    color: #777;
}
.login-form{
    text-align: center;
}
.control-group{
    margin-bottom: 10px;
}
input{
    text-align: center;
    background-color: #ecf0f1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}
input:focus{
    border: 2px solid #3498DB;
    box-shadow: none;
}
.btn{
    border: 2px solid transparent;
    background: #3498D8;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 5px;
}
.btn:hover{
    background-color: #2980B9;
}
.login-form .buttons{
    display: flex;
    gap: 8px;
    flex: 2px;
}